old_web_prefix = '/dca768b9-629c-4b38-a652-1fdee6afbe3e' 
# new_web_prefix = '/k/'  
local_config_path = '/opt/kubesphere/console/configs/local_config.yaml'  
config_path = '/opt/kubesphere/console/server/config.yaml' 
source_path = '/opt/kubesphere/console/dist-bak' 
output_path = '/opt/kubesphere/console/dist' # 
file_types = ['js', 'css'] 
exclude_path = []